 <!DOCTYPE html>
<html lang="fr">
<head>
    <title>Virtual Urban Flow</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ajout de la police Permanent Marker -->
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>

  <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-card">
            <!-- Left-aligned menu for large screens -->
            <div class="w3-hide-small w3-left">
                <a href="#" class="w3-bar-item  fa fa-home green w3-button">Accueil</a>
                <a href="" class="w3-bar-item fa fa-camera green w3-button">Défilés</a>
                <a href="team.html" class="w3-bar-item fa fa-group green w3-button">Equipe</a>
              <a href="contact.html}"class="w3-bar-item fa fa-envelope green w3-button">Contact</a>
            </div>

            <!-- Hamburger menu for small screens -->
            <div class="w3-dropdown-hover w3-hide-large w3-hide-medium w3-left">
                <button class="w3-button" title="Plus"><i class="fa fa-bars"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="#" class="w3-bar-item w3-button">Accueil</a>
                    <a href="" class="w3-bar-item w3-button">Défilés</a>
                    <a href="team.html" class="w3-bar-item w3-button">Equipe</a>
                   <a href="contact.html" class="w3-bar-item w3-button">Contact</a>
                </div>
            </div>

            <!-- Centered slogan and logo -->
            <div class="w3-bar-item w3-card w3-display-middle">
                <img src="/public/images/logo_vert.png" alt="logo" class="logo  w3-center"style="height:50px">
                <br>
                <span>Dessiné par l'IA, porté avec audace.</span>
            </div>

            <!-- Right-aligned login icon -->
            <a href="{{ path('app_login') }}" class="w3-bar-item w3-button w3-right">
                <i class="fa fa-key green">Connexion</i>
            </a>
        </div>
    </div>
    </div>

    <!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
    <div id="navDemo" class="w3-bar-block  w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
        <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Accueil</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Défilés</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Equipe</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">Contact</a>
    </div>
  
{% extends 'base.html.twig' %}

{% block title %}Home - Virtual Urban Flow{% endblock %}

{% block body %}
<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
<br>
<br>
<br>
    <h2 class="w3-wide green">VIRTUAL URBAN FLOW</h2>
    <p class="w3-opacity purple">Dessiné par l'IA, porté avec audace</p>
    <p class="w3-justify">Bienvenue sur le site de Virtual Urban Flow, une entreprise innovante qui révolutionne le monde de la mode streetwear en utilisant l'IA générative pour créer des défilés de mode uniques et avant-gardistes. Notre équipe dynamique et passionnée est composée de Solène, Emma, Paul-Franck, Lydie, et Marième, qui travaillent ensemble pour repousser les limites de la créativité et de l'innovation. </p>
   <img src="public/images/group.jpeg" class="w3-round w3-margin-bottom" alt="groupe" style="width:60%">
    <div class="w3-row w3-padding-32">
        <div class="w3-third">
            <p class="green">Solenne</p>
            <p class="purple">Directrice générale</p>
            <img src="public/images/solenne.jpeg" class="w3-round w3-margin-bottom" alt="Solenne" style="width:60%">
            <p>Elle a des idées qui défilent plus vite qu'un podium de fashion week</p>
        </div>
        <div class="w3-third">
            <p class="green">Emma</p>
            <p class="purple">Brand designer</p>
            <img src="public/images/emma.jpeg" class="w3-round w3-margin-bottom" alt="Emma" style="width:60%">
            <p>Elle peut transformer une serviette papier en un chef d'oeuvre de streetwear.</p>
        </div>
            
        <div class="w3-third">
            <p class="green">Paul-Franck</p>
            <p class="purple">Développeur</p>
            <img src="public/images/paulfranck.jpg" class="w3-round" alt="Paul-Franck" style="width:60%">
            <br>
            <p>Pas un jour sans une ligne de code..... même pour Noël!</p>
        </div>
    </div>
    <div class="w3-row w3-padding-32">
    <div class="w3-third">
            <p class="green">Lydie</p>
            <p class="purple">Experte stratégie marketing</p>
          <img src="public/images/lydie.jpg" class="w3-round" alt="Lydie" style="width:60%">
          <p>Elle peut optimiser une campagne publicitaire et doubler les conversions seulement avec son clavier!</p>
        </div>
         <div class="w3-third">
            <p class="green">VUF</p>
            <p class="purple">Conçu par l'IA  , porté avec audace.</p>
          <img src="public/images/logo_vert.png" class="w3-round" alt="Marième" style="width:60%">
       
        </div>
         <div class="w3-third">
            <p class="green">Marième</p>
            <p class="purple">Social media manager</p>
          <img src="public/images/m.jpg" class="w3-round" alt="Marième" style="width:60%">
          <p>Elle peut faire exploser les likes et les followers rien qu'en scrollant son feed!</p>
        </div>
         
    </div>
</div>


     
        <!-- End Page Content -->
    </div>

    
 <footer class="w3-container w3-padding-16 ">
    <!-- Mentions légales sur la gauche -->
    <div class="w3-third w3-container">
        <a href="legal.html" class="w3-button w3-left w3-text-light-grey">Mentions légales</a>
    </div>
    
    <!-- Icônes des réseaux sociaux au centre -->
    <div class="w3-third w3-container  w3-center">
        <a href="https://www.instagram.com/" class="w3-text-light-grey w3-large w3-margin-right"><i class="fa fa-instagram green w3-hover-opacity"></i></a>
        <a href="https://accounts.snapchat.com/accounts/v2/login" class="w3-text-light-grey w3-large w3-margin-right"><i class="fa fa-snapchat green w3-hover-opacity"></i></a>
        <a href="https://x.com/" class="w3-text-light-grey w3-large w3-margin-right"><i class="  green w3-hover-opacity">X</i></a>
    </div>
    
    <!-- Lien vers la page Nos services sur la droite -->
    <div class="w3-third w3-container">
        <a href="tarifs.html" class="w3-button w3-right w3-text-light-grey">Nos services</a>
    </div>
</footer>

   

</body>

</html>