 <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-card">
            <!-- Left-aligned menu for large screens -->
            <div class="w3-hide-small w3-left">
                <a href="#" class="w3-bar-item  fa fa-home green w3-button">Accueil</a>
                <a href="" class="w3-bar-item fa fa-camera green w3-button">Défilés</a>
                <a href="team.html" class="w3-bar-item fa fa-group green w3-button">Equipe</a>
              <a href="contact.html}"class="w3-bar-item fa fa-envelope green w3-button">Contact</a>
            </div>

            <!-- Hamburger menu for small screens -->
            <div class="w3-dropdown-hover w3-hide-large w3-hide-medium w3-left">
                <button class="w3-button" title="Plus"><i class="fa fa-bars"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a href="#" class="w3-bar-item w3-button">Accueil</a>
                    <a href="" class="w3-bar-item w3-button">Défilés</a>
                    <a href="team.html" class="w3-bar-item w3-button">Equipe</a>
                   <a href="contact.html" class="w3-bar-item w3-button">Contact</a>
                </div>
            </div>

            <!-- Centered slogan and logo -->
            <div class="w3-bar-item w3-card w3-display-middle">
                <img src="/public/images/logo_vert.png" alt="logo" class="logo  w3-center"style="height:50px">
                <br>
                <span>Dessiné par l'IA, porté avec audace.</span>
            </div>

            <!-- Right-aligned login icon -->
            <a href="{{ path('app_login') }}" class="w3-bar-item w3-button w3-right">
                <i class="fa fa-key green">Connexion</i>
            </a>
        </div>
    </div>